:root {
    --Very-dark-desaturated-blue:           hsl(238, 29%, 16%); /*Text*/
    --Soft-red:                             hsl(14, 88%, 65%);  /*Text*/
    
    --Soft-violet:                          hsl(273, 75%, 66%); /*Background gradient*/
    --Soft-blue:                            hsl(240, 73%, 65%); /*Background gradient*/
   

    --Very-dark-grayish-blue:               hsl(237, 12%, 33%);  /* Neutral Text*/
    --Dark-grayish-blue:                    hsl(240, 6%, 50%);  /* Neutral Text*/
    
    --Light-grayish-blue:                   hsl(240, 5%, 91%);  /*Dividers*/
    
}
/*

- Font size: 12px

-Fonts
- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700

*/


  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

* {

    box-sizing: border-box;
}
   

   html {
        min-width: 100vw;
        min-height: 100vh;
        font-family: 'Kumbh Sans 700', sans-serif;
       
    }
   

    body {
        margin: 0;
        background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
        width: 100vw;
        height: 100vh;
        font-size: 12px;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .accordion {
        background: white url(/images/bg-pattern-desktop.svg) no-repeat -1090% 65%; /*Sombra en negativo*/
        border-radius: 30px;
        height: 509px;
        width: 1024px; /*no 920*/
        display: grid;
        grid-template-columns: 450px 1fr;
        grid-gap: 5rem;
    }
   
   /* .answer {
        display: none;
    
    }
    .active .answer {
        display: block;
        padding-bottom: 1.3rem;
        color: var(--Very-dark-grayish-blue);
        transition: all .3s ease-in;
    }
    
    
    
    .img {
    
        transform: rotate(0deg);
        transition: all .3s ease-in;
        
        
    }
    
    .active img {
    
        transform: rotate(180deg);
        transition: all .3s ease-in;
    }
    .active h2 {
    
        font-weight: 700;
    }
    
    
    
    
    .accordion_wrapper {
    
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }
    .question_accordinon {
        height: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .headingThree {
        width: 350px;
        border-bottom: 1px solid #cfcfd0;
    
    }
    
    .title_accordion {
        font-size: 3rem;
        margin-top: 68px;
    }
    
    .title_question {
    
    font-weight: 400;    
    font-size: 1.2rem;
    color: var(--Very-dark-desaturated-blue);
    margin: 1.4rem 1rem;
    
    }
    
    */
    
    
    .accordion-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
    }
    .accordion-header .accordion-button {
        height: 100%;
        display: flex;
        flex-direction: column;

    }

    button {
        
        flex-direction: column;

        display: flex;
        text-align: center;
        align-items: column;
    
       
    }
    .container {
        position: absolute;
        background-color: white;
        background-image:
      /* url(/images/illustration-woman-online-desktop.svg),*/
      /*  url(/images/bg-pattern-desktop.svg);*/
      /*  background-repeat: no-repeat;*/
        background-size: 55%;
        background-position: -20%;
        top: 20%;
        left: 20%;
        width: 65%;
        height: 65%;
        border-radius: 30px;
      }
    
   /* .question img {
    align-self: center;
    
    
    }
    
    .image_wrapper {
    
        position: relative;
    }
    
    .image_wrapper-inner {
    
        position: absolute;
        height: 70%;
        top: 110px;
        left: -16px;
    }
    
    .box {
    
        position: absolute;
        top: 43%;
        left: -17%;
        height: 25%;
    }
    
    
    p {
        width: 350px;
        border-bottom: 1px solid
        #e8e8ea;
    }

    h2 {
        font-size: 3rem;
    }
    */
    
    
    