:root {
    --Very-dark-desaturated-blue:           hsl(238, 29%, 16%); /*Text*/
    --Soft-red:                             hsl(14, 88%, 65%);  /*Text*/
    
    --Soft-violet:                          hsl(273, 75%, 66%); /*Background gradient*/
    --Soft-blue:                            hsl(240, 73%, 65%); /*Background gradient*/
   

    --Very-dark-grayish-blue:               hsl(237, 12%, 33%);  /* Neutral Text*/
    --Dark-grayish-blue:                    hsl(240, 6%, 50%);  /* Neutral Text*/
    
    --Light-grayish-blue:                   hsl(240, 5%, 91%);  /*Dividers*/
    

}


* {

  box-sizing: border-box; 
     }

html {

font-size: 12px;
font-family: 'Kumbh Sans 400' cursive;
font-family: 'Kumbh Sans 700', sans-serif;
}



a {
    background-color: white;
  }





body {
    margin: 0;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    width: 100vw;
    height: 100vh;
    font-size: 12px;
    display: grid;
    justify-content: center;
    align-items: center;
}


.wrapper {
    background: white url(/images/bg-pattern-desktop.svg) no-repeat -1090% 65%; /*Sombra en negativo*/
    border-radius: 30px;
    height: 509px;
    width: 1024px; /*no 920*/
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-gap: 5rem;
}


.answer p {
    display: none;

}




.active.answer p {
    display: block;
    padding-bottom: 1.3rem;
    color: var(--Very-dark-grayish-blue);
    transition: all .3s ease-in;
}



.img {

    transform: rotate(0deg);
    transition: all .3s ease-in;
    
    
}

.active img {
    transform: rotate(180deg);
    transition: all .3s ease-in;
   
}
.active h3 {

    font-weight: 700;
}




.accordion_wrapper {

    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.accordion_wrapper.active {
        display: flex;
        flex-direction: column;
    
}



.question_accordinon {
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

 

.question_accordinon.active {
    height: 100%;
    display: flex;
    flex-direction: column;
    
}







.question_answer_accordion {
    width: 350px;
    border-bottom: 1px #cfcfd0;
    
    
}

.question_answer_accordion.active {
    width: 350px;
    border-bottom: 1px solid #cfcfd0;
    display: flex;
    
}


.title_accordion {
    font-size: 3rem;
    margin-top: 33px;
}

.title_question {

font-weight: 400;    
font-size: 1.2rem;
color: var(--Very-dark-desaturated-blue);
margin: 1.4rem 1rem;

}




.question {
display: flex;
justify-content: space-between;
cursor: pointer;
transition: 0.3s;

}

.question img {
align-self: center;

/* transform: rotate(-180deg);
   transition: all 0.2s ease-in; */

}

.image_wrapper {

    position: relative;
}

.image_wrapper-inner {

    position: absolute;
    height: 70%;
    top: 60px;
    left: -56px;
    
}

.box {

    position: absolute;
    top: 43%;
    left: -17%;
    height: 25%;
}

.attribution {
    text-align: center;
    margin-top: -600px;
    font-size: 11px;

}


@media (max-width: 700px) {
    .wrapper {
        width: 350px;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
        grid-gap: 0.5rem;
        position: relative;
        height: 530px;
        padding: 1rem;
    }
    .inner-wrapper {
        position: absolute;
        background-image: url(./images/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-position: center 590%;
        width: 100%;
        height: 101px;
    }
    .image_wrapper-inner {
        position: absolute;
        background-image: url(./images/illustration-woman-online-mobile.svg) no-repeat;
        width: 70%;
        height: 200px;
        background-size: 20%;
        background-position: 30% center;
        top: -280px;
        max-height: 113px;
        margin-left: -4rem
        
    }

    .box {
        display: none;
    }
    .accordion_wrapper {
        text-align: left;
        margin-top: 0;
    }
    .title_accordion {
        font-size: 2.5rem;
        margin-top: -29px;
        text-align: center;
    }
    .question_answer_accordion {
        width: 80%;
    }
}
